@import url(style.css);

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

.panelBotones {
    gap: 20%;
}

.panelBotones,
form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

select {
    height: fit-content;
    padding: 7px;
    text-align: center;
}

table {
    text-align: left;
    border-spacing: 0;
}

th,
td {
    padding: 15px;
    font-size: 0.8rem;
}

th {
    background-color: var(--bg-section);
    color: white;
}

#newProyect {
    background-color: var(--green);
}

#newProyectForm {
    flex-direction: column;
}

#newProyectForm h1 {
    text-align: center;
    margin: 0;
}

#newProyectForm label {
    flex-direction: column;
    align-items: start;
}

#newProyectForm select {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    font-size: 1rem;
}

#newDesc {
    resize: none;
    height: 3rem;
}

#exportCSV {

    background-color: var(--blue);
}

.btnEditProyect {
    background-color: var(--blue);
}

.btnEditProyect:hover {
    background: rgb(19, 76, 102);
}

.divImg {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

#newProyectForm .divImg label {
    flex: 1;
    text-align: center;
    align-items: center;

}

#newProyectForm .divImg img {
    width: 100%;
    height: auto;
    max-height: 370px;
}

#newProyectForm option:checked {
    background-color: var(--accent);
    color: var(--text-light);
}

#confirmDelete button,
#confirmDelete a {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

#cancelDelete {
    background-color: rgb(29, 115, 155);
}

#cancelDelete:hover {
    background-color: rgb(19, 76, 102);
}

@media (max-width: 1450px) {

    .panelBotones,
    form {
        display: grid;
        grid-template-columns: 1fr;

    }

    .row {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 20px;
    }

    main {
        width: 80%;
    }

}

@media (max-width: 900px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        justify-content: center;
        gap: 20px;
    }

    main {
        width: 95%;
    }
}