body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, Helvetica;
    background-color: rgb(248, 248, 248);
    --primary: #0a0a0a;
    --accent: #ed1838;
    --accent-hover: #be142e;
    --text-light: #ffffff;
    --text-muted: #999;
    --bg-dark: #000;
    --bg-section: #0a0a0a;

}

main {
    padding-top: 30px;
    min-height: 45vh;
    height: auto;
    width: 65%;
    margin: auto;
    position: relative;
    margin-top: 80px;
    margin-bottom: 50px;
}

button {
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

button:hover {
    background-color: var(--accent-hover);
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--text-muted);
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para INDEX */

#indexMain .logo-svg {
    width: 350px;
    height: auto;
    margin: auto;
    display: block;
    transition: all 0.15s ease;
}

#indexMain .logo-svg:hover {
    transform: scale(1.05);
    transition: all 0.15s ease;
}

#indexMain>* {
    text-align: center;
}



/* FIN DE INDEX */




/* Estilos para CONTACTO */

#imgContacto {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    margin-right: 10%;
}


#divInfoContacto {
    display: flex;
    align-items: center;
    justify-content: center;

}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
    height: 1px;
    background-color: rgb(77, 77, 77);
}

#divFormularioContacto {
    margin: auto;
    width: 80%;
    margin-bottom: 50px;
}

#divFormularioContacto>form {
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    vertical-align: top;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(211, 211, 211);
    padding: 20px;
    border-radius: 10px;
    padding: 30px;
}

#divFormularioContacto form textarea {
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    padding: 10px;
}

#divFormularioContacto>p {
    text-align: center;
}

/* FIN DE CONTACTO */

/* Estilos para PROYECTOS */

div#searchBar {
    margin-bottom: 20px;
    width: 100%;
}

div#searchBar * {
    margin: 0;
}

#searchForm {
    display: flex;
    gap: 5px;
}

div#searchBar button {
    width: 30%;
}

div#projectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
    gap: 20px;
    box-sizing: border-box;
}

div.projectContainer {
    width: 100%;
    border: 1px solid var(--text-muted);
    border-radius: 10px;
}

.projectContainer img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projectContainer h3 {
    margin-top: 0px;
}

div.padding {
    padding: 20px;
}

div.stats p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
}

div.stats p:nth-child(1) {
    background-color: green;
}

div.stats p:nth-child(2) {
    background-color: #00becc;
}



/* FIN DE PROYECTOS */


/* LOGIN */

#loginForm {
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px;
}

#loginForm h1 {
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
}

#loginForm form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#loginForm #login {
    background-color: green;
    color: white;
}

#loginForm #cancel {
    background-color: red;
    color: white;
}

/* LOGIN FIN */

@media (max-width: 1450px) and (min-width: 800px) {
    main {
        padding-top: 70px;
    }

    div#projectsContainer {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media (max-width: 799px) {
    main {
        padding-top: 70px;
    }

    div#projectsContainer {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}